/* CSS declarations go here */

.no-thumb-item {
    width: 150px;
    height: 200px;
}

.align-center {
    text-align: center;
}

.over { position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 4px 6px;
        font-size: 13px;
        color: #fff;
        background: #222;
        background: rgba(0,0,0,.7);
}

.right-text {
    text-align: right;
}

.side-by-side {
    margin: 10px;
}

.vis-hidden {
    visibility: hidden;
}

.comment-ui-field {
    position: absolute;
    width: 100%;
    height: 7em;
}

.comment-ui-field2 {
    min-height: 7em;
}

span.keep-together {
    display: inline;
    line-height: 1.5em;
    padding: 0.1em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: 1px solid;

    border-radius: .25em;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    -o-border-radius: .25em;
}

.synonyms_div .tags-div {
  display: inline;
}

.synonym .tag {
    margin: 5px;
    padding: 2px 7px;
    font-size: 80%;
    font-weight: bold;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;

    opacity: 1;
    transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;

    display: inline;
}

.item-synonyms .item-tags {
    margin-right: 8px;
    display: inline;
}

.relative-position {
    position: relative;
}

textarea.comments {
    width: 100%;
    height: 7em;
}

div.indiv-comment {
    border: 1px solid;
    margin: 5px;
    padding: 3px;
    margin-right:63px;
}

div.remove-indiv-comment {
    width:55px;
    float:right;
    margin-right:3px;
}

.comment-user-date {
    text-align: right;
    margin-bottom:5px;
    font-size: 0.8em;
}

div.detail-title-top {
     display: inline-block;
     line-height: 1.1;
     font-weight: 500;
     font-size: 24px;
     margin: 0;
     margin-top: 5px;
     width: 100%;
}

.detail-title-top-text {
     line-height: 1.1;
     font-weight: 500;
     font-size: 24px;
}

div.detail-title {
     display: inline-block;
     line-height: 1.1;
     font-weight: 500;
     font-size: 18px;
     margin: 0;
}

div.detail-block {
    margin: 3px;
    padding: 3px;
    border: 1px solid;
    border-radius: 4px;
}

.btn-small {
    padding: 1px;
}

.btn-tiny {
    padding: 3px;
    font-size: 50%;
}

div.pzp1 {
    display: inline;
}

div.pzp2 {
    display: inline;
    cursor: pointer;
}

.aspect_image {
    max-width: 100%;
    max-height: 100%;
}

.bold {
  font-weight: bold;
}

.neuron-catalog-chevron:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
}
.neuron-catalog-chevron.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.selectable.selected {
    /* fleximages .item have a 4px margin and 1px grey. So we keep total
       to 5px to keep layout */
    border: 3px solid #77f;
    margin: 2px;
}
