/* CSS declarations go here */

.name-field {
    display: inline;
}

.right-buttons {
    float: right;
}

.side-by-side {
    display: inline;
    margin: 10px;
}

.vis-hidden {
    visibility: hidden;
}

.comment-ui-field {
    position: absolute;
    width: 100%;
    height: 7em;
}

.comment-ui-field2 {
    min-height: 7em;
}

span.keep-together {
display: inline;
padding: .2em .6em .3em;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
}

.synonyms_div {
  display: inline;
}

.synonym {
    margin: 5px;
    padding: 2px 7px;
    font-size: 80%;
    font-weight: bold;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;

    opacity: 1;
    transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;

    display: inline;
}

.item-synonyms {
    margin-right: 8px;
    display: inline;
}

.relative-position {
    position: relative;
}

textarea.comments {
    width: 100%;
    height: 7em;
}

div.indiv-comment {
    border: 1px solid;
    margin: 5px;
    padding: 3px;
    margin-right:63px;
}

div.remove-indiv-comment {
    width:55px;
    float:right;
    margin-right:3px;
}

div.detail-title-top {
     display: inline-block;
     line-height: 1.1;
     font-weight: 500;
     font-size: 24px;
     margin: 0;
     margin-top: 5px;
     width: 100%;
}

div.detail-title {
     display: inline-block;
     line-height: 1.1;
     font-weight: 500;
     font-size: 18px;
     margin: 0;
}

div.detail-block {
    margin: 3px;
    padding: 3px;
    border: 1px solid;
    border-radius: 4px;
}

.btn-small {
    padding: 1px;
}

.btn-tiny {
    padding: 3px;
    font-size: 50%;
}

div.pzp1 {
    display: inline;
}

div.pzp2 {
    display: inline;
    cursor: pointer;
}

div.image_square {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 1px solid;
    overflow: auto;
}

.aspect_image {
    max-width: 100%;
    max-height: 100%;
}

.bold {
  font-weight: bold;
}
