/* CSS declarations go here */

.right-buttons {
    float: right;
}

.side-by-side {
    display: inline;
    margin: 10px;
}

span.zxkp {
display: inline;
padding: .2em .6em .3em;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
}

.synonyms_div {
  display: inline;
}

.synonym {
    margin: 5px;
    padding: 2px 7px;
    font-size: 80%;
    font-weight: bold;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;

    opacity: 1;
    transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;

    display: inline;
}

.item-synonyms {
    margin-right: 8px;
    display: inline;
}

.comments-display {
    min-height: 1em;
}

textarea.comments {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	    width:100%;
	    margin:5px 0;
	    padding:3px;
}

.comments-textarea {
    display: block;
}

div.comments-edit {
    padding: 5px;
}

div.indiv-comment {
    border: 1px solid;
    margin: 5px;
    padding: 3px;
    margin-right:50px;
}

div.remove-indiv-comment {
    width:45px;
    float:right;
}

div.detail-title-top {
     display: inline-block;
     line-height: 1.1;
     font-weight: 500;
     font-size: 24px;
     margin: 0;
     margin-top: 5px;
}

div.detail-title {
     display: inline-block;
     line-height: 1.1;
     font-weight: 500;
     font-size: 18px;
     margin: 0;
}

div.detail-block {
    margin: 3px;
    padding: 3px;
    border: 1px solid;
    border-radius: 4px;
}

.btn-small {
    padding: 1px;
}

.btn-tiny {
    padding: 3px;
    font-size: 50%;
}

div.pzp1 {
    display: inline;
}

div.pzp2 {
    display: inline;
    cursor: pointer;
}
